<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="css/lines.css" rel='stylesheet' type='text/css'/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- Kilmer CSS -->
    <link href="css/kilmer.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="js/d3.v3.js"></script>
    <script src="js/rickshaw.js"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">MTBF Report</a>
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="dashboard.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                    </li>
                    <!--设备节点-->
                    <li>
                        <a><i class="fa fa-laptop nav_icon"></i>Devices<span class="fa arrow"></span></a>
                        {% for device in devices %}
                        <ul class="nav nav-second-level">
                            <li>
                                <a><i class="fa fa-mobile-phone nav_icon"></i>{{ device.id }}<span class="fa arrow"></span></a>
                                <!-- 测试用例执行明细 -->
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="{{ device.testcaseHtmlPath }}"><i class="fa fa-flask nav_icon"></i>Testcase chart </a>
                                    </li>
                                </ul>
                                <!-- 测试用例列表 -->
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="{{ device.testcaseListHtmlPath }}"><i class="fa fa-flask nav_icon"></i>Testcase list </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="graphs">
            <div class="row">
                {% for device in devices %}
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-mobile-phone mobile icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>Android</strong></h5>
                                <span>{{device.id}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for device in devices %}
                    <div class="col-md-3 stats-info deviceSummary">
                        <div class="panel-heading">
                        <h4 class="panel-title">Data summary</h4>
                        </div>
                        <!-- 显示当前设备测试概要数据 -->
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <!-- 显示当前测试开始时间 -->
                                <li>Test start time
                                    <div class="text-success pull-right">{{ device.testStartTime }}</div>
                                </li>
                                <!-- 显示当前设备总测试时间 -->
                                <li>Test time
                                    <div class="text-success pull-right">{{ device.totalTestTime }}</div>
                                </li>
                                <!-- 显示当前设备测试用例总Pass rate -->
                                <li>Pass rate
                                    {% if device.passrate >= 0.9 %}
                                        <div class="text-success pull-right">{{ device.passrate }}</div>
                                    {% else %}
                                        <div class="text-danger pull-right">{{ device.passrate }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示当前设备总测试次数 -->
                                <li>Frequency of testing
                                    <div class="text-success pull-right">{{ device.totalTestTimes }}</div>
                                </li>
                                <!-- 显示当前设备总测试用例数 -->
                                <li>Testcase count
                                    <div class="text-success pull-right">{{ device.testcaseCount }}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title">Error summary</h4>
                        </div>
                        <!-- 显示Error 概要信息 -->
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <!-- 显示CRASH个数 -->
                                <li><a href="{{ device.crashHtmlPath }}">CRASH</a>
                                    {% if device.crashCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.crashCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.crashCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示ANR个数 -->
                                <li><a href="{{ device.anrHtmlPath }}">ANR</a>
                                    {% if device.anrCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.anrCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.anrCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示LOWMEM个数 -->
                                <li><a href="{{ device.lowmemHtmlPath }}">LOWMEM</a>
                                    {% if device.lowmemCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.lowmemCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.lowmemCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示SMV个数 -->
                                <li><a href="{{ device.smvHtmlPath }}">SMV</a>
                                    {% if device.smvCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.smvCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.smvCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示SYSTEMRESTART个数-->
                                <li><a href="{{device.systemRestartHtmlPath  }}">SYSTEMRESTART</a>
                                    {% if device.systemRestartCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.systemRestartCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.systemRestartCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示TOMBSTONES个数 -->
                                <li><a href="{{ device.tombstonesHtmlPath }}">TOMBSTONES</a>
                                    {% if device.tombstonesCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.tombstonesCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.tombstonesCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示WATCHDOG个数 -->
                                <li><a href="{{ device.watchdogHtmlPath }}">WATCHDOG</a>
                                    {% if device.watchdogCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.watchdogCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.watchdogCount }}</div>
                                    {% endif %}
                                </li>
                                <!-- 显示WTF个数 -->
                                <li class="last"><a href="{{ device.wtfHtmlPath }}">WTF</a>
                                    {% if device.wtfCount > 0 %}
                                        <div class="text-danger pull-right">{{ device.wtfCount }}</div>
                                    {% else %}
                                        <div class="text-success pull-right">{{ device.wtfCount }}</div>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
